{% extends "layout.html" %}

{% block title %}Ask Question Page{% endblock %}
{% block heading %}Ask Question{% endblock %}

{% block content %}
<form method="post">
  <div class="form-group">
    <label class="control-label" for="ask_question">Ask your question here:</label><br>
    <div>
      <input type="text" name="title" class="form-control" placeholder="Enter your question title"><br>
    </div>
    <div>
      <textarea name="body" class="form-control" rows=5 placeholder="Enter the description of your question"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <input type="submit" value="Post" class="form-control btn btn-primary">
    </div>
  </div>
</form>
{% endblock %}
