{% extends "layout.html" %}

{% block title %}Display Question Page{% endblock %}
{% block heading %}Display Question Page{% endblock %}

{% block content %}

<h2>{{question.title}}</h2>

{{question.body}}

<hr>

{% for answer in answers %}
  <h2>Answer by {{answer.author_u_id}} with ({{answer.upvotes}}) upvotes</h2>
  {{answer.body}}

  <br>

  <small>
    <a href="{{url_for('upvote_a',a_id=answer.a_id, u_id=session['u_id'])}}">Upvote</a>
    <a href="{{url_for('downvote_a',a_id=answer.a_id, u_id=session['u_id'])}}">Downvote</a>
  </small>

  <hr>
{% endfor %}

{% if session['logged_in']%}
<form action="{{url_for('post_answer', q_id = question.q_id)}}" method="post">
  <textarea name="answer" rows="8" cols="80">Submit your answer...</textarea><br>
  <input type="submit" name="Submit" value="Post">
</form>
{% endif %}

{% endblock %}
