<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {% block title %}{% endblock %} | HackOnStack</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('homepage')}}">HackOnStack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('homepage')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('post_question')}}">Ask a Question!</a>
            </li>
            {% if session['logged_in'] %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('profile_page',u_id=session['u_id'])}}">{{session["username"]|capitalize}}'s Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('register')}}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-md-8">

          <h1 class="my-4">{% block heading %}{% endblock %}
          </h1>

          {% block content %}
          {% endblock %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <form action="{{url_for('search')}}" method="post">
                <div class="input-group">
                  {% if search_query %}
                  <input type="text" class="form-control" name="search_query" value={{search_query}} placeholder="Search for...">
                  {% else %}
                  <input type="text" class="form-control" name="search_query" placeholder="Search for...">
                  {% endif %}
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-secondary" value="Go!">
                  </span>
                </div>
              </form>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">HackOnStack</h5>
            <div class="card-body">
              HackOnStack is a place to share knowledge and better to understand the world.
              You can post your questions and doubts here; and give answers to those questions you know.
              Have fun :)
            </div>
          </div>

          <div class="card my-4">
            <h5 class="card-header">Top Users</h5>
            <div class="card-body">
              <ol>
                {% for u in helpers.get_top_users() %}
                <li>
                  <a href="{{url_for('profile_page',u_id=u.u_id)}}">
                    {{u.username|capitalize}}
                  </a> - {{u.reputation}}
                </li>
                {% endfor %}
              </ol>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

      {% include "flash_messages.html" %}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Made by team MaxEntropy for HackOnHills 2k18.
        </p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>
