<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
		<script scr="{{url_for('static',filename='js/script.js')}}"></script>
	</head>

	<body>
		<h1>{% block heading %}{% endblock %}</h1>
		<ul>
			<li><a href="{{url_for('homepage')}}">Home Page</a></li>
			{% if session['logged_in'] %}
			<li><a href="{{url_for('profile_page',u_id=session['u_id'])}}">{{session['username']}}'s Profile</a></li>
			<li><a href="{{url_for('logout')}}">Logout</a></li>
			{% else %}
			<li><a href="{{url_for('login')}}">Login Page</a></li>
			<li><a href="{{url_for('register')}}">Register Page</a></li>
			{% endif %}
			<li><a href="{{url_for('post_question')}}">Ask a question!</a></li>
		</ul>
    {% block content %}{% endblock %}

		{% include "flash_messages.html" %}
	</body>

</html>
