<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		<h1>{% block heading %}{% endblock %}</h1>
		<ul>
			<li><a href="{{url_for('homepage')}}">Home Page</a></li>
			<li><a href="{{url_for('login')}}">Login Page</a></li>
			<li><a href="{{url_for('register')}}">Register Page</a></li>
			<li><a href="{{url_for('post_question')}}">Post Question Page</a></li>
		</ul>
    {% block content %}{% endblock %}
	</body>

</html>
